
/* This section for bottom logo  */
.img{
    height: 40px;
    position: relative;
    left: 0.2rem;
}
.img img{
    height: 30px;
}
.img-carousel-info{
    height: 581px;
}

.coursebtn {
    position: relative; 
    top:2rem;
     left: 40%;
  }
  .upper{
    position: relative;
    top: -130px;
  }

  /* .img-carousel-info {
    opacity: 0.5;
  } */

@media only screen and (max-width: 600px) {
    .coursebtn {
      left:20%;
    }
  }

  @media only screen and (max-width: 600px) {
    .caroselStart {
      width: 70%;
    }
  }